#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.centered-container {
  text-align: center;
}

.contact-form-input {
  margin: 5px 0 20px;
  resize: none;
  outline: none;
  box-shadow: none;
  background: #00000099;
  color: #fafafa;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
}

.contact-form-input:focus {
  background: #000000;
  color: #fff;
  box-shadow: 0 0 3px 3px #fafafa99;
}

.contact-form-input::placeholder {
  text-align: center;
  color: #ffffff99;
}

@media only screen and (max-width: 600px) {
  #contact-form {
    width: 100%;
  }

  .contact-form-input {
    width: 100%;
  }
}
